.container {
  margin-bottom: 100px;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin-bottom: 50px;
  line-height: 1.4;
  letter-spacing: -1px;
}

h2 {
  margin-bottom: 50px;
}

.collect { margin-bottom: 50px; }

.instructions img {
  display: block;
  margin: 20px auto;
}
